<%= form_with(model: [@room, @booking], local: true) do |form| %>
  <div id="new_booking" class="pages_index_background">
    <div class="container">
      <h1 id="new_booking" class="display-4 text-center">New Booking</h1>

      <%= render "form", booking: @booking %>

      <br>

      <div>
        <%= link_to "Back to bookings", bookings_path, class: "btn btn-secondary" %>
      </div>
    </div>
  </div>
<% end %>
