<!-- footer -->
<footer class="bg-light text-lg-star" style="background-color: gray; margin-top: 10px">
  <div class="text-center p-3">
    <p id="copyright" class="mb-2">© 2024 Room 4 Rent, all rights reserved.</p>
    <p>Find me on GitHub: <a href="https://github.com/muginga72"><i class="fab fa-github"></i></a></p>
    <p>Contact us: <a href="mailto:lmj.muginga@gmail.com"><i class="fas fa-envelope"></i></a></p>
  </div>
</footer>  <!-- footer-->