<div id="new_room" class="pages_index_background">
  <div class="container"> 
    <h1 id="editing_room" class="display-3 text-center my-5 text-muted">Editing room</h1>

    <%= render "form", room: @room %>

    <br>

    <div>
      <%= link_to "Show", @room, class: "btn btn-info" %> |
      <%= link_to "Back", rooms_path, class: "btn btn-secondary" %>
    </div>
  </div>
</div>

<%= render partial: 'shared/footer' %>