<div id="editing_room" class="pages_index_background">
  <div class="container">
    <h1 id="editing_room" class="display-4 text-center text-muted">Editing Room</h1>

    <%= render "form", room: @room %>

    <br>

    <div>
      <%= link_to "Show this room", @room, class: "btn btn-primary mb-3" %> 
      <%= link_to "Back to rooms", rooms_path, class: "btn btn-secondary mb-3" %>
    </div>
  </div>
</div>
