<div id="new_room" class="pages_index_background">
  <div class="container">
    <h1 id="new_room_title" class="display-4 text-center text-muted">New Room</h1>

    <%= render "form", room: @room %>

    <br>

    <div>
      <%= link_to "Back to rooms", rooms_path, class: "btn btn-secondary my-3" %>
    </div>
  </div>
</div>
