@import "font-awesome";

body {
  background-image: url("background2_page.png");
}

.signup {
  background-image: url("Signup-background.jpg");
}

h2 {
  // color:aqua;
  margin-top: 40px;
  margin-bottom: 10px;
}

.banner-background-image {
  color: white;
  background-image: url("Banner-v01-24.JPG");
  background-size: cover;
  // font-family: 'Canterbury';
}
